{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}
{% block contenido %}
	<h1>Create nuevo producto</h1>

    {{ include('producto/_form.html.twig') }}

    <a href="{{ path('app_producto_index') }}">Volver a la lista</a>

{% endblock %}

