<form method="post" action="{{ path('app_categoria_delete', {'id': categoria.id}) }}" onsubmit="return confirm('¿Seguro que deseas eliminar esta categoria?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoria.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
