{% extends 'base.html.twig' %}

{% block title %}New DetalleVenta{% endblock %}

{% block body %}
    <h1>Crear nuevo Detalle Venta</h1>

    {{ include('detalle_venta/_form.html.twig') }}

    <a href="{{ path('app_detalle_venta_index') }}">Volver a la lista</a>
{% endblock %}
